//main: main.scss

$background_main: hsl(217, 54%, 11%) ;
$background_card: hsl(216, 50%, 16%);


$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$shadow_color: hsla(217, 45%, 6%, 0.582);


$color_paragraph: hsl(215, 51%, 70%);
$font_size_paragraph: 18px;


$price_color_and_hover: hsl(178, 100%, 50%);

$font_weight_first: 300;

$font_weight_second: 400;

$font_weight_third: 600;

$border_radius_card: 18px;

$font_card_generic: 'Outfit', sans-serif;

$padding_img_container: 25px 25px 0px 25px;

$margin_text: 20px 0px;

$text_margin_bottom: 22px;







